<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no,email=no" name="format-detection">
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
  <div id="app" class="app">
    <div class="page page-1">
      1
    </div>
    <div class="page page-2">
      2
    </div>
    <div class="page page-3">
      3
    </div>
    <div class="page page-4">
      4
    </div>
  </div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?44f12727736239928c0d2d882bad3461";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>